body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Roboto',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  border: none;
    box-shadow: none;
    outline: none;
    background: #eb3e32;
    color: #fff;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    padding: 0 20px;
    border-radius: 5px;
    display: inline-block;
}