
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration:none;
    list-style:none;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
}
.header {
    position: relative;
    border-bottom: 1px solid #e7e7e7;
}

.nav {
    display: flex;
    align-content: center;
    min-height: 50px;
    line-height: 50px;
    justify-content: space-between;
    background-color: #f8f8f8;
    padding: 0 32px;
}
.nav-title p {
    font-size: 2.8rem;
}
.nav-user__icon i{
    padding:0 4px;
    font-size:1.6rem;
}
.nav-user__item {
    border-bottom:1px solid #e7e7e7;
}
.nav-user__item:hover{
    background-color:#eee;
}
.nav-user__item-link {
    font-size: 1.4rem;
    display: block;
    color: #333;
    padding: 0 22px;
}
.nav-user__list {
    list-style: none;
    display: none;
    position: absolute;
    top: 100%;
    left: -100%;
    right: 0;
    background-color: #f8f8f8;
    border-radius:3px;
}
.nav-user {
    position:relative;
    cursor:pointer;
    padding: 0 12px;
    display:flex;
}
.nav-user-wrap {
    display: flex;
}
.nav-user:hover {
    background-color: #eee;
}

.nav-user:hover .nav-user__list {
    display:block;
}


.nav-menu-wrap {
    position: absolute;
    top: 102%;
    left: 0;
    width: 250px;
    background: #f8f8f8;
    height: 100vh;
    border-right: 1px solid #e7e7e7;
}

.nav-menu__item {
    position:relative;
    border-bottom:1px solid #e7e7e7;
}

.nav-menu__item:hover {
    background-color: #eee;
}

.nav-menu__item-link {
    font-size: 1.6rem;
    color: #333;
    display: block;
    padding: 16px 32px;
}

.nav-menu__item-icon {
    float:right;
}

.sub-menu__list {
    position: relative;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #f8f8f8;
}
.sub-menu__item {
    border-bottom: 1px solid #e7e7e7;
}

.sub-menu__item:hover {
    background-color:#eee;
}
.sub-menu__item-link {
    font-size: 1.6rem;
    color: #333;
    display: block;
    padding: 16px 32px;
}

.sub-menu__list {
    display:none;
}

.active {
    display:block;
}

.content {
    margin: 0 0 0 250px;
}

.content-title {
    margin:36px 0 18px;
    font-size:1.8rem;
    color:#333;
}

.table {
    width: 100%;
    border-collapse: collapse;
    font-size:1.4rem;
}

.table-row {
    padding:8px 12px;
}
table, th, td {
    border: 1px solid #ddd;
    text-align:center;
}

th,td {
    padding:12px 16px;
}

thead {
    font-weight:600;
}

tbody tr td a {
    color:blue;
}


.form-group {
    font-size:1.4rem;
    color:#333;
    padding:12px 16px;
    display:flex;
    align-items:center;
}

.form-group label {
    min-width:120px;
}

.form-control {
    width:100%;
    margin: 0 16px;
    padding:10px 16px;
}

.form-control-img {
    width: 150px;
}

.btn {
    padding: 8px 12px;
    margin: 0 16px;
}

.picture {
    padding:0 16px;
}

.form-btn {
    margin-top:16px;
    margin-left:120px;
}

#cke_txtNoiDung {
    width: 100%;
    margin: 0 16px;
}